/* This file is for your main application css. */
$body-bg: white; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";
@import "~react-vis/dist/style";

.nav-categories .dropdown-toggle::after {
  display: none;
}

.navbar{
  background-color: #f1f1f1;
}

.display-create-product{
  width: 450px;
  display: inline;
  margin-right: 3rem;
}

.display-block{
  display: block;
}

.attributes-table{
  color: #fff;
  background-color: #7a778a;
}
.account-menu * {
  left: auto;
  color: white !important;
  right: -103px;
}

.header-icons, .header-icons:hover, .header-icons:active, .header-icons:focus {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

//https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
#uploadImage {
  display: none;
}

#uploadImage + label {
  padding: 10px;
  color: white;
  background-color: #3b4165;
}

#uploadImage:focus + label, #uploadImage + label:hover {
  background-color: #2b2f49;
}

.product-images{
  max-height: 700px;
}

.product-container{
  margin-top: 30px;
}

.options{
  padding: 5px 15px 5px 15px;
  margin-right: 20px;
  background-color: #47747d;
  border: 1px solid grey
}

.option-active{
  border: 2px solid black;
}

.add-btn{
  font-size: x-large;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #29946d;
  border-color: #403f3f3b;
  box-shadow: 1px 1px #888888;
  border-radius: 0px;
}

.wishlist-btn{
  font-size: x-large;
  padding-left: 40px;
  padding-right: 40px;
  background-color: OrangeRed;
  border-color: #403f3f3b;
  box-shadow: 1px 1px #888888;
  border-radius: 0px;
}

.add-btn:hover{
  background-color: #247b59 !important;
  border-color: #403f3f3b !important;
  box-shadow: none !important;
}

.wishlist-btn:hover{
  background-color: #ce3700 !important;
  border-color: #403f3f3b !important;
  box-shadow: none !important;
}

.add-btn:focus, .add-btn:active{
  background-color: #29946d !important;
  border-color: #403f3f3b !important;
  box-shadow: none !important;
}

.wishlist-btn:active, .wishlist-btn:focus{
  background-color: OrangeRed !important;
  border-color: #403f3f3b !important;
  box-shadow: none !important;
}
/*attribution : https://stackoverflow.com/questions/29313879/shopping-cart-number-of-items-in-cart-css*/
.display-cart-count {
  font-size: 14px;
  font-weight: bolder;
  border-radius: 50px 50px 50px 50px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  position: absolute;
}
.display-address {
  border-style: none;
  width: 320px;
  text-align: left;
  font-size: 19px;
  background-color: #90767633;
  height: 400px;
  margin-right:25px;
}

.display-add-address {
  border-style: dashed;
  border-width: 2px;
  width: 320px;
  text-align: center;
  background-color: #f1f1f1;
  height: 400px;
  font-size: 75px;
  border-color: lightslategray;
  margin-right:25px;
}

.display-shipping-address{
  background-color: #c7aeae;
  font-size:18px;
}
.display-products-placed{
  background-color: #9a9595;
}
.dropdown-menu{
  background: #4f4e52;
  padding-left: 5px;
  padding-right: 50px;
}

.dropdown-item{
  color: white;
}

.dropdown-item .nav-link{
  padding: 0px;
}

.dropdown-item:hover{
  background: #5e5d61;
  color: white;
}

.dropdown-menu .dropdown-item {
  border-bottom: 2px solid #565656;
}

.dropdown-menu .dropdown-item:last-of-type {
  border-bottom: none;
}

.product-listing{
  margin: 10px;
  margin-bottom: 50px;
  width: 300px;
  height: 400px;
  padding:20px;
  padding-right: 50px;
  padding-left: 35px;
  border-right: 1px solid #d8d8dd;
  text-align: center;
}
.display-subTotal{
  text-align: right;
  border-bottom: 1px solid #d8d8dd;
}
.display-cart-border{
  border-bottom: 1px solid darkslategray;
  margin-bottom: 10px;
  width: 75%;
}
.headings-display{
  margin-bottom: 2px;
  margin-top: 10px;
  font-size: xx-large;
  color: #080101;
}
.display-brand{
  background-color: #3b7c79;
  border-radius: 0px 50px 50px 0px;
  color: white;
  font-weight: 700;
  width: fit-content;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 2px 2px #888888, inset 0 0 3px #000000;
  padding-right: 20px;
  padding-left: 20px;
}
.display-price{
  color:black;
  font-size: larger;
}
.display-markedprice{
  color:grey;
  font-size: smaller;
}
.display-discount{
  color:green;
  font-size:  15px;
  font-style: italic;
}

.product-name{
  font-size: x-large;
  color: darkslategray;
  font-weight: bold;
}

#search_bar{
  border-radius: 50px 0px 0px 50px;
  font-style: italic;
}


#search_bar:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

.search-button{
  border-radius: 0px 50px 50px 0px;
  background-color: lightskyblue;
}

.add-rem-btn {
  margin-left: 2rem;
}

.cart-container{
  width: 85%
}

.place-order{
  font-size: large;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e0881c;
  border-color: #403f3f3b;
  box-shadow: 1px 1px #888888;
  border-radius: 0px;
}

hr{
  margin-left: -13px;
}

.place-order:hover{
  background-color: #da811d !important;
  border-color: #403f3f3b !important;
  box-shadow: none !important;
}

.order-container{
  margin-top: 25px;
}

.loading{
  background-color: ghostwhite;
  left: 40%;
  top: 40%;
  position: fixed;
  padding: 33px;
  border-radius: 25px;
  box-shadow: 1px 1px #888888;
}

.container {
  max-width: 90%;
  margin-top: 20px;
}

.order-listing{
  margin-bottom: 30px;
  background: ghostwhite
}

.order-header{
  background-color: #4d6884;
  color: white;
}

.order-detail-btn{
  background-color: #075007;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  border: 1px solid #ffffff47;
  box-shadow: 1px 1px #8888884a;
}

.order-detail-btn:hover{
  background-color: #105f10;
  text-decoration: none;
  color: white;
}

.sub-headings-display{
  margin-bottom: 2px;
  margin-top: 10px;
  font-size: large;
  color: #080101;
}

.btn-qty{
  width: 35px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px solid black;
}

.btn-qty:hover{
  background-color: #6c757d;
}

.empty-cart{
  background-color: ghostwhite;
  padding: 15%;
  border-radius: 25px;
  box-shadow: 1px 1px #888888;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.header-bottom-none{
  margin-bottom: 0px;
}